.Dictionary h1 {
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin: 50px 0;
}

.Dictionary h2{
   font-size: 30px;
   font-weight: 700;
   margin-bottom: 20px;
   line-height: 1.1;
}

.Dictionary p{
    font-size: 16px;
    font-weight: 200;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 0px;
     line-height: 1.1;
}

.Search-bar {
  color: var(--main-color);
  background: rgb(239, 236, 243);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 15px;
}

.Search-bar:focus {
  outline-color: var(--main-color);
}

:root {
  --main-color: #1b105c;
  --secondary-color-blue: #32b9c7;
  --secondary-color-pink: #a50f8e;
  --secondary-color-purple: #2915c7;
}

section {
  background: white;
  border-radius: 15px;
  max-width: 950px;
  margin: 25px auto;
  padding:35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.title{
    
  letter-spacing: 2px;
  position: relative;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: 1;

}

@keyframes text {
  0% {
    color: white;
  
  }
  30% {
    letter-spacing: 10px;
    
  }
  85% {
    letter-spacing: 8px;
  }

 
 
}

@media (max-width:700px){
    .Dictionary h1{
       line-height: 1;

    }
    .Dictionary h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    section{
        padding: 20px;
        margin: 20px 10px;
    }
    .Search-bar{
        padding: 10px;
    }
}